@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: capitalize;
  color: hsl(0, 0%, 95%);
}

img {
  height: 50px;
  width: 80px;
  object-fit: cover;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9rem;
  line-height: 1.25;
}

.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: min(90vw, 225px);
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sedan {
  background: hsl(31, 77%, 52%);
}

.suv {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
}

button {
  font-family: "Lexend Deca", sans-serif;
  margin: 0.45rem 0;
  border: none;
  padding: 0.5rem;
  border-radius: 50px;
  width: 60%;
  cursor: pointer;
}

.sedan button {
  color: hsl(31, 77%, 52%);
}

.suv button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

button:hover {
  background: none;
  color: hsl(0, 0%, 95%);
  outline: 1px solid hsl(0, 0%, 95%);
}

@media screen and (min-width: 900px) {
  .container {
    margin: 8rem auto 1rem auto;
    flex-direction: row;
    width: min(90vw, 700px);
  }
  .content {
    justify-content: space-between;
  }
}
